/* You can add global styles to this file, and also import other style files */

@import './assets/styles/theme/material';
@import "node_modules/bootstrap/scss/bootstrap";

@import './assets/styles/font';
@import './assets/styles/variable';
@import './assets/styles/mixin';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'lexend-medium';
}