
.header-nav {
  background-color: #ffe245;
  height: 80px;
  
  .navs {
    ul {
      margin-bottom: 0;
      li {
        font-family: 'lexend-semibold';
        font-size: 20px;
        list-style: none;
        margin-left: 24px;
      }
    }
  }
}