<div>
  <div class="header-nav d-flex justify-content-center align-items-center">

    <div class="logo">
      <figure>
        <img src="assets/images/logo.svg" id="logo" alt="logo">
      </figure>
    </div>

    <div class="navs flex-fill">
      <div class="d-flex justify-content-end me-lg-4">
        <a class="align-self-center">Support</a>
        <a class="align-self-center">Feedback</a>
        
        <div class="auth-grp">
          <button mat-raised-button color="accent" (click)="navigate('signin')">Signin</button>
          <button mat-raised-button color="accent" (click)="navigate('signup')">Signup</button>
        </div>

      </div>
    </div>

  </div>

  <div class="banner-wrap">
    <div class="banner-holder">

      <section class="banner-info">
        <h1>Enrich learning with Our <span>Quizbox</span></h1>
        <p>This is a pond were you can create new quiz and we make your assessments simple</p>
        <button mat-raised-button color="primary" (click)="startDemoQuiz()">Start</button>
      </section>
      <section class="banner-img">
        <figure>
          <img src="assets/images/banner.png" alt="banner" >
        </figure>
      </section>
    </div>
  </div>
</div>

<router-outlet></router-outlet>