@font-face {
  font-family: 'lexend-black';
  src: url('../fonts/Lexend-Black.ttf');
}

@font-face {
  font-family: 'lexend-bold';
  src: url('../fonts/Lexend-Bold.ttf');
}

@font-face {
  font-family: 'lexend-extrabold';
  src: url('../fonts/Lexend-ExtraBold.ttf');
}

@font-face {
  font-family: 'lexend-extralight';
  src: url('../fonts/Lexend-ExtraLight.ttf');
}

@font-face {
  font-family: 'lexend-light';
  src: url('../fonts/Lexend-Light.ttf');
}

@font-face {
  font-family: 'lexend-medium';
  src: url('../fonts/Lexend-Medium.ttf');
}

@font-face {
  font-family: 'lexend-regular';
  src: url('../fonts/Lexend-Regular.ttf');
}

@font-face {
  font-family: 'lexend-semibold';
  src: url('../fonts/Lexend-SemiBold.ttf');
}
